@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

div#container {
    display: flex;
    flex-direction: column;
    width: 725px;
}

div.header-container {
    display: flex;
    align-items: flex-end;
    padding: 32px 16px;
    margin-bottom: 64px;
}

div#svg-container {
    max-width: 40%;
    width: 128px;
}

div#svg-container svg #bee {
    animation: flightBee 6s linear 0s infinite normal forwards;
}
@keyframes flightBee {
    0% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
    20% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    38% {
        transform: translateY(-33px);
        -webkit-transform: translateY(-33px);
    }
    50% {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
    }
    63% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
    82% {
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
    }
    100% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
}

div#svg-container svg #shadow {
    transform-origin: center bottom;
    animation: shadowBee 6s linear 0s infinite normal forwards;
}
@keyframes shadowBee {
    0% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
    20% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    38% {
        transform: scale(.96);
        -webkit-transform: scale(.96);
    }
    50% {
        transform: scale(.99);
        -webkit-transform: scale(.99);
    }
    63% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
    82% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    100% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
}

div#head-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Space Grotesk';
    gap: 0;
    align-self: stretch;
    flex-grow: 1;
    margin-left: -64px;
}

p#title {
    font-weight: 500;
    font-size: 32px;
}

h1 {
    font-weight: 400;
    font-size: 24px;
}

div#debugOptions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 1;
    transition: all .2s ease-in-out;
}

div#debugOptions.onSaved {
    opacity: .6;
    pointer-events: none;
}

div.input-container {
    display: flex;
    gap: 16px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

input[type="checkbox"] {
    accent-color: #87E86B;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    cursor: pointer;
}


div#saveSettingsChange {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 12px;
    background-color: #87E86B;
    border-radius: 4px;
    font-family: 'Space Grotesk';
    width: fit-content;
    cursor: pointer;
    align-self: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
}

div#saveSettingsChange #imageBee {
    height: 36px;
    position: absolute;
    background-color: #87E86B;
    display: flex;
    justify-content: flex-end;
    width: 20px;
}

div#saveSettingsChange.clicked #imageBee {
    animation: sendMessage .8s ease-in 0s normal forwards;
}

div#saveSettingsChange #imageBee img {
    height: 100%;
    transform: translateX(20px);
}

div#saveSettingsChange #textBtn {
    margin-left: 48px;
}

@keyframes sendMessage {
    to {
        width: 240px;
    }
}


div.otherinput-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

div.userjobInput-container {
    display: flex;
    gap: 8px;
}

select.selectUserJob {
    min-width: 160px;
    height: 35px;
    padding: 2px 8px;
    background: #6AC6FF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    gap: 4px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    accent-color: #87E86B;
    text-transform: uppercase;
    color: #1E1E1E;
}

div.custom-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 8px 12px 12px;
    gap: 18px;
    border: 1px solid #1E1E1E;
    border-radius: 8px;
    width: calc(100% - 26px);
}

div.element-custominput {
    height: calc(35px - 4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    gap: 10px;
    background: #FFF790;
    border-radius: 4px;
}

div.id-elementcustom {
    font-weight: 700;
    font-size: 18px;
}

div.content-elementcustom {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}

div[id^='deleteElement'] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div[id^='deleteElement'] svg {
    height: 16px;
}

div#addElementBtn {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #6AC6FF;
    border-radius: 4px;
    cursor: pointer;
    gap: 4px;
}

div#addElementBtn svg {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

div#addElementBtn select {
    display: none;
    min-width: 96px;
    border: none;
    outline: none;
    height: 35px;
    background: #6AC6FF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    padding: 2px 8px;
}
div#addElementBtn.active select {
    display: block;
}

div#addElementBtn svg#plusElementSelect {
    display: flex;
}
div#addElementBtn.active svg#plusElementSelect {
    display: none;
}

div#addElementBtn svg#validElementSelect {
    display: none;
}
div#addElementBtn.active svg#validElementSelect {
    display: flex;
}

div#returnDefaultSettings {
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}