@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

div#container {
    display: flex;
    flex-direction: column;
    width: 725px;
}

div#head-title {
    text-align: center;
    font-family: 'Space Grotesk';
    gap: 0;
}

p#title {
    font-weight: 500;
    font-size: 32px;
}

h1 {
    font-weight: 400;
    font-size: 24px;
}

div#debugOptions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div.input-container {
    display: flex;
    gap: 8px;
}

input[type="checkbox"] {
    accent-color: #87E86B;
}

div#saveSettingsChange {
    padding: 6px 12px;
    background-color: #87E86B;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    align-self: flex-end;
}