@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body {
    width: 100%;
    overflow: hidden;
}

div#globalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .4s ease-in-out;
}

div#globalContainer.demonstration {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    padding: 32px 48px;
}

div#globalContainer.demonstration #beeChatContainer {
    position: absolute;
    bottom: 8px;
    left: 32px;
}
div#globalContainer.demonstration #beeChatContainer {
    position: absolute;
    bottom: 16px;
    left: 32px;
}

div#beeChatContainer {
    transition: all .4s ease-in-out;
}

div#beeChatContainer.horizontal {
    display: flex;
    align-items: flex-end;
    gap: 64px;
    max-width: 765px;
    width: 100%;
}

div#beeChatContainer #beeContainer {
    transition: all .4s ease-in-out;
}
div#beeChatContainer #beeContainer svg {
    transition: all .4s ease-in-out;
}

div#beeChatContainer.horizontal #beeContainer {
    width: 256px;
    height: 256px;
}
div#beeChatContainer.horizontal #beeContainer svg {
    width: 256px;
    height: 256px;
}

div#beeChatContainer.vertical {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
    max-width: 475px;
    width: 100%;
}

div#beeChatContainer.vertical #beeContainer {
    width: calc(128px + (24px * 2));
    height: 128px;
    padding: 0px 24px;
}
div#beeChatContainer.vertical #beeContainer svg {
    width: 128px;
    height: 128px;
}

div#beeChatContainer div#chatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;
    align-self: stretch;
    flex-grow: 1;
}

div#beeChatContainer div#chatContainer .chat {
    display: none;
    width: 100%;
    padding: 16px 24px;

    background: #87E86B;
    border-radius: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: #1E1E1E;
}

div.btnsContainer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    gap: 8px 16px;
}

div.userjobInput-container {
    display: flex;
    gap: 8px;
}
div.userjobInput-container.unavailable::after {
    content: 'Oups ! Cette combinaison n\'est pas encore disponible.';
    position: absolute;
    width: inherit;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F3565D;

    transform: translateY(48px);
}

select.selectUserJob {
    width: 180px;
    padding: 8px 10px;
    background: #6AC6FF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    color: #1E1E1E;
}

div.btnNext {
    width: fit-content;
    display: flex;
    align-items: center;
    background: #6AC6FF;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    gap: 10px;
    text-transform: uppercase;
    white-space: nowrap;
}
div.btnNext svg {
    height: 16px;
}
div.btnNext.yBtn {
    color: #1E1E1E;
}
div.btnNext.nBtn {
    border: 2px #F69421 solid;
    background-color: white;
    color: #F69421;
}

a.changelogBtn {
    width: 100%;
    padding: 16px 24px;
    margin-bottom: 8px;
    
    font-family: 'Space Grotesk';
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;

    color: #1E1E1E;
    
    background: url(icons/FlatBee.svg), #FFCC01;
    background-position: right -2.5% bottom -32px;
    background-repeat: no-repeat;
    background-size: 20%;

    box-shadow: 2px 8px 16px rgba(30, 30, 30, 0.25);
    border-radius: 32px;

    cursor: pointer;
}


div#demonstrationContainer {
    display: none;
    width: 1420px;
    height: 798.75px;
    border: 4px solid #1E1E1E;
    border-radius: 16px;
}
div#globalContainer.demonstration div#demonstrationContainer {
    display: flex;
}


/* BEE ANIMATION */

div#beeContainer svg #bee {
    animation: flightBee 8s linear 0s infinite normal forwards;
}
@keyframes flightBee {
    0% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
    20% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    38% {
        transform: translateY(-33px);
        -webkit-transform: translateY(-33px);
    }
    50% {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
    }
    63% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
    82% {
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
    }
    100% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
    }
}

div#beeContainer svg #shadow {
    transform-origin: center bottom;
    animation: shadowBee 8s linear 0s infinite normal forwards;
}
@keyframes shadowBee {
    0% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
    20% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    38% {
        transform: scale(.96);
        -webkit-transform: scale(.96);
    }
    50% {
        transform: scale(.99);
        -webkit-transform: scale(.99);
    }
    63% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
    82% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    100% {
        transform: scale(.92);
        -webkit-transform: scale(.92);
    }
}